p {
  font-size: 18px;
  z-index: -2
}

#positioned {
  background-color: yellow;
  width: 400px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px 15px;
  top: 12px;
  right: 0px;
  z-index: 0;
}

#transparent {
  background-color: rgba(0, 0, 0, .6);
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  position: fixed;

}

#new {
  position: fixed;
  left: -10px;
  top: -10px;
  background-color: pink;
  height: 20px;
  width: 20px;
}
