html {
  font-size: 20px;
}

nav ul {
  background-color: yellow;
  font-size: 0;
  width: 100%;
  list-style-type: none;
}

nav li {
  color: blue;
  display: inline-block;
  font-size: 1rem;
  text-align: center;
  width: 20%;
  margin-left: 10px;
}

nav a {
  box-sizing: border-box;
  line-height: 2.5;
  padding: 0 10px;
  text-decoration: none;
  width: 100%;
}

nav a:hover {
  background-color: green;
  color: white;
}
