section {
  width: 1000px;
  background-color: white;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background-color: #ccc;
}

article {
  width: 70%;
  float: left;
  background-color: yellow;
  padding: 1rem;
  box-sizing: border-box;
}

aside {
  overflow: hidden;
  float: none;
  background-color: green;
  padding: 1rem;
  box-sizing: border-box;
}

footer {
  background-color: #ebecff;
  clear: both;
  padding: 1rem;
}
