/* HTML:

<div>
  <section>content</section>
</div>

*/

div {
  background-color: lightgray;
  border: 1px solid black;
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: 0;
}

section {
  border: 4px solid red;
  box-sizing: content-box;
  display: block;
  height: 300px;
  margin: 20px 19px 10px 11px;
  padding: 10px 20px;
  width: 500px;
}

/*  what is the minimum width and height (in pixels) that the div needs to entirely
contain the section element (including its margins)?

/* Same answer as last question
