/* html

<div>
  <article>content</article>
</div>

*/

div {
  background-color: lightgray;
  border: 1px solid black;
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: 0;
}

article {
  border: 4px solid red;
  box-sizing: border-box;
  display: inline-block;
  height: 300px;
  margin: 20px 19px 10px 11px;
  padding: 10px 20px;
  width: 500px;
}

/*

A few things to note. The box-sizing property is border box, and the display property is inline-block.

min width == 500 + (30) + (2) == 532

min height == 300 + 30 + 3 == 332
