@import url("whitespace-reset.css");

body {
  font-family: 'Roboto', sans-serif;
  background-color: #d3ddc1
}

header {
  display: flex;
}

#logo {
  margin-top: 15px;
  margin-left: 187px;
}

#headline {
  margin-top: 69px;
  margin-left: 10px;
  font-size: 35px;
  color: #193441;
  font-weight: normal;
}

nav ul {
  display: flex;
  /* background-color: white; */
  list-style: none;
  justify-content: space-around;
  float: right;
}

li {
  padding: 10px;
}
